#btnDiv {
  height: auto;
  width: 94%;
  padding: 0 3% 0 3%;
  background-color: rgb(82, 248, 184);
  border-radius: 10px;
  color: rgb(24,114,114);
  font-size: 1.5rem;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#icon{
  color: rgb(29, 152, 152);
}


#btnDiv:hover{
  background-color:rgb(185, 254, 228);
}

.option {
  width: 100%;
  align-items: center;
  margin-top: -4%;
}

.option > ul {
  list-style: none;
  padding-left: 0%;
  width: 100%;
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  align-items: center;
  background-color: rgb(250, 164, 125);
  margin-bottom: -4%;
}

.option > ul > li{
  width: 95%;
  height: 3em;
  display: flex;
  align-items: center;
  padding-left: 5%;
  background-color: rgb(135, 248, 204);
}

.option > ul > li:hover{
  background-color: rgb(172, 250, 220);
}
